# TOPIC: TUPLE Based Problem

# 1. Create a tuple with integers from 1 to 5.

There are multiple way to create tuple

In [1]:
a1 = (1, 2,3,4,5)

In [2]:
type(a1)

tuple

In [3]:
a1

(1, 2, 3, 4, 5)

In [8]:
b1 = tuple( i for i in range(1,6))

In [9]:
type(b1)

tuple

In [10]:
b1

(1, 2, 3, 4, 5)

# 2. Access the third element of a tuple.

In [13]:
# by index

a1 = (1, 2,3,4,5)

#3rd element of tuple

print(f"3rd element of tuple {a1} is : {a1[2]}")

3rd element of tuple (1, 2, 3, 4, 5) is : 3

# 3. Find the length of a tuple without using the `len()` function.

In [14]:
a2_tuple = (1, 2,3,4,5)

tuple_length = 0                 # initialize the counter

for i in a2_tuple:               # for each item in tuple
    tuple_length += 1            # increment the counter
    
print(f"The length os tuple {a2_tuple} is : {tuple_length}")    # print the statement

The length os tuple (1, 2, 3, 4, 5) is : 5

# 4. Count the occurrences of an element in a tuple.

In [18]:
# We can use the inbuilt tuple method count to get the occurrences of an element in a tuple

a4_tuple = ( 1,2,2,3,3,4,4,4,3,3,6,7,7,3)

element = 3

result = a4_tuple.count(element)

print(f"The number of occurrences of an element {element} in a tuple {a4_tuple} is : {result}")

The number of occurrences of an element 3 in a tuple (1, 2, 2, 3, 3, 4, 4, 4, 3, 3, 6, 7, 7, 3) is : 5

In [16]:
a4_tuple.count(3)

5

# 5. Find the index of the first occurrence of an element in a tuple.

In [23]:
# we can use the inbuilt function index

a5_tuple = ( 1,2,2,3,3,4,4,4,3,3,6,7,7,3)

element = 4

result = a5_tuple.index(element)

print(f"The index of the first occurance of an element {element} in a tuple {a5_tuple} is : {result}")

The index of the first occurance of an element 4 in a tuple (1, 2, 2, 3, 3, 4, 4, 4, 3, 3, 6, 7, 7, 3) is : 5

In [24]:
a5_tuple.index(3)

3

# 6. Check if an element exists in a tuple.

In [25]:
# we can use inbuild operator 'in' to check any element exists in a tuple or not

a6_tuple = ( 1,2,2,3,3,4,4,4,3,3,6,7,7,3)

element = 4

if element in a6_tuple:
    print(f"The element {element} exist in a tuple {a6_tuple} ")
else :
    print(f"The element {element} do not exist in a tuple {a6_tuple} ")
     

element = 9

if element in a6_tuple:
    print(f"The element {element} exist in a tuple {a6_tuple} ")
else :
    print(f"The element {element} do not exist in a tuple {a6_tuple} ")

The element 4 exist in a tuple (1, 2, 2, 3, 3, 4, 4, 4, 3, 3, 6, 7, 7, 3)
The element 9 do not exist in a tuple (1, 2, 2, 3, 3, 4, 4, 4, 3, 3, 6, 7, 7, 3)

# 7. Convert a tuple to a list.

In [26]:
# we can use list constructor to convert a tuple to a list

a7 = ( 1,2,2,3,3,4,4,4,3,3,6,7,7,3)

b7 = list(a7) 

print(f"Converting a tuple {a7} to a list {b7}")

Converting a tuple (1, 2, 2, 3, 3, 4, 4, 4, 3, 3, 6, 7, 7, 3) to a list [1, 2, 2, 3, 3, 4, 4, 4, 3, 3, 6, 7, 7, 3]

# 8. Convert a list to a tuple.

In [27]:
# we can use tuple constructor to convert a list to a tuple

a8 = [ 1,2,2,3,3,4,4,4,3,3,6,7,7,3]

b8 = tuple(a8) 

print(f"Converting a list {a8} to a tuple {b8}")

Converting a list [1, 2, 2, 3, 3, 4, 4, 4, 3, 3, 6, 7, 7, 3] to a tuple (1, 2, 2, 3, 3, 4, 4, 4, 3, 3, 6, 7, 7, 3)

# 9. Unpack the elements of a tuple into variables.

In [30]:
#Packing tuple  - When we create a tuple, we normally assign values to it. This is called "packing" a tuple

var_a = ("abhishek" , 'avinash' , 'amit')

#Unpacking - we are also allowed to extract the values back into variables. This is called "unpacking"
( x , y , z )  = var_a

print(x)
print(y)
print(z)

abhishek
avinash
amit

# 10. Create a tuple of even numbers from 1 to 10.

In [34]:
# we can use simply tuple comprehension

a10_tuple = tuple(x for x in range(2,11,2))

print(f"a tuple of even numbers from 1 to 10 is {a10_tuple}")

a tuple of even numbers from 1 to 10 is (2, 4, 6, 8, 10)

# 11. Create a tuple of odd numbers from 1 to 10.

In [35]:
# we can use simply tuple comprehension

a11_tuple = tuple(x for x in range(1,11,2))

print(f"a tuple of odd numbers from 1 to 10 is {a11_tuple}")

a tuple of odd numbers from 1 to 10 is (1, 3, 5, 7, 9)

# 12. Concatenate two tuples.

In [38]:
# We can simply use + operator to Concatenate two tuples

a12 = ( 1,2,3,4)           # first tuple

b12 = (5 , 6, 7, 8)        # second tuple

# Concatenate two tuples.

c12 = a12 + b12

print(f"Adter concatenating two tuples {a12} and { b12} , new tuple is : {a12 + b12}")

Adter concatenating two tuples (1, 2, 3, 4) and (5, 6, 7, 8) , new tuple is : (1, 2, 3, 4, 5, 6, 7, 8)

# 13. Repeat a tuple three times.

In [39]:
# We simply multiple the tuple by 3

a13 = ( 1,2,3,4) 

result = a13 * 3

print(result)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

# 14. Check if a tuple is empty.

In [43]:
# we can simply use length of tuple to check if tuple is empty or not
a14 = ()

if len(a14) == 0 :
    print(f"tuple {a14} is empty")
else :
    print(f"tuple {a14} is not empty")

tuple () is empty

# 15. Create a nested tuple.

In [44]:
# Create a nested tuple

a15 = ({1,2} , (3,4) , ('a' , 'b') , (5,6))

In [45]:
type(a15)          # check type

tuple

In [47]:
# check whether a15 is nested tuple or not

for i in a15:      
    if isinstance(i,tuple):      # if any of the element of tuple is tuple then it's nested tuple
        print(f"{a15} is nested tuple")

({1, 2}, (3, 4), ('a', 'b'), (5, 6)) is nested tuple
({1, 2}, (3, 4), ('a', 'b'), (5, 6)) is nested tuple
({1, 2}, (3, 4), ('a', 'b'), (5, 6)) is nested tuple

# 16. Access the first element of a nested tuple.

In [54]:
# let;s suppose we have nested tuple

a16 = ((1,2) , (3,4) , ('a' , 'b') , (5,6))

#we will access the first element of a nested tuple by a16[0][0]

for i in a16:      
    if isinstance(i,tuple):      # if any of the element of tuple is tuple then it's nested tuple
        print(f"First element of nested tuple is : {i[0]}")
        break

First element of nested tuple is : 1

# 17. Create a tuple with a single element.

In [61]:
a17 = ( 7, )    # The trailing comma is necessary to indicate that it's a tuple.

b17 = (7)       # if you do not add trailing comma , this will not create tuple but treat like integer

In [62]:
type(a17)

tuple

In [63]:
type(b17)

int

# 18. Compare two tuples.

In [66]:
# we can simply use '==' operator to compare 

a18 = (1,2,3)        # first tuple

b18 = (1,2,3)         # second tuple

c18 = (2,3,4)         # third tuple

if a18 == b18 :
    print(f"Tuple {a18} and {b18} are equal\n")
else :
    print(f"Tuple {a18} and {b18} are not equal\m")
    

if a18 == c18 :
    print(f"Tuple {a18} and {c18} are equal\n")
else :
    print(f"Tuple {a18} and {c18} are not equal\n")

Tuple (1, 2, 3) and (1, 2, 3) are equal

Tuple (1, 2, 3) and (2, 3, 4) are not equal

# 19. Delete a tuple.

In [71]:
# we can simply use del keyword to delte a tuple

a19 = (1,2,3)

print(f"Type of tuple {a19} is : {type(a19)}")

del(a19)       # deleting tuple

print(f"After deleting tuple , trying to get the tuple {a19}")

Type of tuple (1, 2, 3) is : <class 'tuple'>

NameError: name 'a19' is not defined

# 20. Slice a tuple.

In [76]:
# we are going to use same way to slice as we do slices for list

a20 = (1,2,2,3,3,4,4,4,3,3,6,7,7,3)

# slicing a tuple

# slicing from index 5 to end of tuple

print(a20[5:])

# slicing from index 2 to index 8

print(a20[2:9])

# slicing from start to index 8

print(a20[:9])

# slicing using negative index
print(a20[-4 : -1])

(4, 4, 4, 3, 3, 6, 7, 7, 3)
(2, 3, 3, 4, 4, 4, 3)
(1, 2, 2, 3, 3, 4, 4, 4, 3)
(6, 7, 7)

# 21. Find the maximum value in a tuple.

In [80]:
#  simply we will use inbuild max method on tuple to get the maxmium value in a tuple

a21 = (1,2,2,3,3,4,4,4,3,3,6,7,7,3)    # input tuple

result = max(a21)

print(f"The maxmium value in a tuple {a21} is {max(a21)}")

The maxmium value in a tuple (1, 2, 2, 3, 3, 4, 4, 4, 3, 3, 6, 7, 7, 3) is 7

In [78]:
result

7

# 22. Find the minimum value in a tuple.

In [81]:
#  simply we will use inbuild min method on tuple to get the minimum value in a tuple

a21 = (1,2,2,3,3,4,4,4,3,3,6,7,7,3)    # input tuple

result = min(a21)

print(f"The minimum value in a tuple {a21} is {min(a21)}")

The minimum value in a tuple (1, 2, 2, 3, 3, 4, 4, 4, 3, 3, 6, 7, 7, 3) is 1

# 23. Convert a string to a tuple of characters.

In [85]:
# simply we will use tuple constructor to convert a string to a tuple of characters
input_str = 'abhishek'      #input string

a23 = tuple(input_str)

print(f"Convert a string \'{input_str}\' to a tuple of characters : {tuple(input_str)} \n")
print(f"type of result: {type(a23)}")

Convert a string 'abhishek' to a tuple of characters : ('a', 'b', 'h', 'i', 's', 'h', 'e', 'k')

type of result: <class 'tuple'>

# 24. Convert a tuple of characters to a string.

In [87]:
a24 = ('a', 'b', 'h', 'i', 's', 'h', 'e', 'k') 

result = ''.join(a24)      # joining tuple elements to form string

print(f"Convert a tuple of characters {a24}to a string : \'{result}\' ")

Convert a tuple of characters ('a', 'b', 'h', 'i', 's', 'h', 'e', 'k')to a string : 'abhishek'

# 25. Create a tuple from multiple data types.

In [91]:
# Creating tuple from multiple data types : integer , string , list, tuple and so on

a25 = ( 1 , 2, 'a' , 'b' , (3,4) , [4,5])

In [92]:
type(a25)

tuple

In [93]:
a25

(1, 2, 'a', 'b', (3, 4), [4, 5])

# 26. Check if two tuples are identical.

We can check if two tuples are identical by using the == operator.

In [59]:
def chk_identical_tuples(input_tuple1 , input_tuple2):
    
    if input_tuple1 == input_tuple2 :  
        return True
    else :
        return False
    

#Testing of above function

a26 = ( 1, 2, 3 )

b26 = ( 1, 2, 3 )

c26 = ( 2, 3, 4)

if chk_identical_tuples(a26 , b26):
    print(f"Two tuples {a26} and {b26} are identical \n")
else :
    print(f"Two tuples {a26} and {b26} are not identical \n")
    

if chk_identical_tuples(a26 , c26):
    print(f"Two tuples {a26} and {c26} are identical \n")
else :
    print(f"Two tuples {a26} and {c26} are not identical \n")

Two tuples (1, 2, 3) and (1, 2, 3) are identical

Two tuples (1, 2, 3) and (2, 3, 4) are not identical

# 27. Sort the elements of a tuple

In [94]:
# Tuple is mutable so can't change tuple directly but for sorting, 
# we need to change it to list then sorting the list and then convert back to tuple

a27 = ( 4,1,5,2,7,5,9,3,5)         # input tuple

a27_list = list(a27)               # convert the tuple to list

a27_list.sort()                    # sort the list in ascending order

result = tuple(a27_list)           # convert back to tuple

print(f"After sorting the tuple {a27} , new tuple is : {result}")

After sorting the tuple (4, 1, 5, 2, 7, 5, 9, 3, 5) , new tuple is : (1, 2, 3, 4, 5, 5, 5, 7, 9)

# 28. Convert a tuple of integers to a tuple of strings.

In [96]:
# we will simply use tuple comprehension method

a28 = ( 1,2,3,4,5,6)              # input tuple

result = tuple(str(x) for x in a28)

print(f"Convert a tuple of integers {a28} to a tuple of strings is : {result}")

Convert a tuple of integers (1, 2, 3, 4, 5, 6) to a tuple of strings is : ('1', '2', '3', '4', '5', '6')

# 29. Convert a tuple of strings to a tuple of integers.

In [97]:
# we will simply use tuple comprehension method

a29 = ('1', '2', '3', '4', '5', '6')              # input tuple

result = tuple(int(x) for x in a29)

print(f"Convert a tuple of strings {a29} to a tuple of integers is : {result}")

Convert a tuple of strings ('1', '2', '3', '4', '5', '6') to a tuple of integers is : (1, 2, 3, 4, 5, 6)

# 30. Merge two tuples.

In [98]:
# We will simply use '+' operator to merge two tuple. Merging and concataning are same when dealing with tuples

a30 = ('1', '2', '3', '4', '5', '6')     # first tuple

b30 = (1, 2, 3, 4, 5, 6)

result = a30 + b30

print(f"After merging two tuples {a30} and {b30} , new tuple is: {result}")

After merging two tuples ('1', '2', '3', '4', '5', '6') and (1, 2, 3, 4, 5, 6) , new tuple is: ('1', '2', '3', '4', '5', '6', 1, 2, 3, 4, 5, 6)

# 31. Flatten a nested tuple.

In [101]:
def flatten_tuple_recursively(input_tuple):        # this function will flatten nested tuple for 1 level of nested tuple
    
    output_list = []       # initializing output tuple
    
    for i in input_tuple:               # iterate through each element in the nested tuple
        if isinstance(i , tuple):       # if element is still tuple
            output_list.extend(flatten_tuple_recursively(i))        # call the function recursively
        else : 
            output_list.append(i)      # append the item  to output tuple ( if it is not the tuple )    
        

    return tuple(output_list)

In [102]:
# test the above function

input_tuple = ( ( ( 11, 12, ) , (13 , 14) ), (15 , 17) , ( (45 , 46 ) , (23, 12) , (12,21 ) ) , (78 , 67) )

output_tuple = flatten_tuple_recursively(input_tuple)

print(output_tuple)

(11, 12, 13, 14, 15, 17, 45, 46, 23, 12, 12, 21, 78, 67)

# 32. Create a tuple of the first 5 prime numbers.

prime number:a whole number greater than 1 that cannot be exactly divided by any whole number other than itself.

so, to check 20 is prime number or not, we will check whether 20 is divisible by any number starting from 2 to 11

similarly to check 50 is prime number or not, we will check whether 50 is divisible by any number starting from 2 to 26

so to check n is prime number or not, we will check whether n is divisible by any number starting from 2 to (n/2) + 1

In [107]:
# Function to check whether given number n is prime or not
def chk_prime(n):
    
    if n < 2:
        return False
    
    for i in range(int(n/2) + 1 ):
        if i > 1:
            if n % i == 0 :
                return False
        
    return True

def create_tuple_of_first_n_prime(n):
    
    prime_list = []
    num = 2
    
    while len(prime_list) <= n :    #Have to create n prime number
        if chk_prime(num):
            prime_list.append(num)
            
        num += 1
                
    return tuple(prime_list)

In [108]:
# Test the abive function

n = 5

print(f"Create a tuple of the first {n} prime numbers is {create_tuple_of_first_n_prime(n)}\n")

n = 10

print(f"Create a tuple of the first {n} prime numbers is {create_tuple_of_first_n_prime(n)}")

Create a tuple of the first 5 prime numbers is (2, 3, 5, 7, 11, 13)

Create a tuple of the first 10 prime numbers is (2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31)

# 33. Check if a tuple is a palindrome.

Palindrome means if string is same as of reverse the string. We can use the reverse the tuple and compare with original

In [7]:
# check if a tuple is a palindrome

def chk_tuple_palindrome(input_tuple):
    
    #convert the tuples into string
    input_str = ''.join(input_tuple)                    # conevrt the tuple elements into string
    
    input_str_rev = input_str[ : : -1]                  # reverse the string
    
    if input_str == input_str_rev:                      # check if original string is equal to reversal string
        return True
    else :
        return False
    

a33 = ( 'a' , 'b' , 'c' , 'b' , 'a')      # input tuple

if chk_palindrome(a33):       # check for palindrome
    print(f"Your tuple {a33} is palindrome\n")
else :
    print(f"Your tuple {a33} is not a palindrome\n")
    
b33 = ( 'a' , 'b' , 'c' , 'd' , 'b' , 'a')      # input tuple

if chk_palindrome(b33):       # check for palindrome
    print(f"Your tuple {b33} is palindrome")
else :
    print(f"Your tuple {b33} is not a palindrome")

Your tuple ('a', 'b', 'c', 'b', 'a') is palindrome

Your tuple ('a', 'b', 'c', 'd', 'b', 'a') is not a palindrome

# 34. Create a tuple of squares of numbers from 1 to 5.

In [10]:
# we can use tuple comprehension method

output_tuple = tuple(x*x for x in range(1,6))

print(output_tuple)

(1, 4, 9, 16, 25)

# 35. Filter out all even numbers from a tuple.

In [13]:
# we can use tuple comprehension method to filter out even numbers

a35 = ( 1, 2,3,4,5,6,7,8,9,13,18,21,44,32,56,23)    # input tuple

even_num_tuple = tuple(x for x in a35 if x % 2 == 0)

print(f"Filtering out all even numbers from a tuple {a35} , new tuple is {even_num_tuple}")

Filtering out all even numbers from a tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 18, 21, 44, 32, 56, 23) , new tuple is (2, 4, 6, 8, 18, 44, 32, 56)

# 36. Multiply all elements in a tuple by 2.

In [19]:
# we can use tuple comprehension method to filter out even numbers

a36 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 18, 21, 44, 32, 56, 23)   # input tuple

output_tuple = tuple(x * 2 for x in a35 )

print(f"Multiplying all elements in a tuple {a35} by 2 , new tuple is {output_tuple}")

Multiplying all elements in a tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 18, 21, 44, 32, 56, 23) by 2 , new tuple is (2, 4, 6, 8, 10, 12, 14, 16, 18, 26, 36, 42, 88, 64, 112, 46)

# 37. Create a tuple of random numbers.

In [23]:
# we can use random module to generate random number

import random

b37 = tuple(random.randint(1,10) for _ in range(1,10))     # creating tuple with random numbers

print(b37)

(6, 10, 6, 6, 4, 9, 9, 10, 5)

# 38. Check if a tuple is sorted.

In [25]:
# we can not sort any tuple directly. so, convert it to list and then check whether list is sorted or not

def chk_sorted_tuple(input_tuple):
    
    if len(input_tuple) <= 2 :        # if there are 2 or less elements means sequence is always sorted either asc or desc
        return True
    
    input_list  = list(input_tuple)   # convert the tuple to list , if length of tuple > 2
    
    if input_list[0] < input_list[1]:       # check for ascending order of the list
        for i in range(len(input_list)-1):    
            if input_list[i] > input_list[i + 1] :
                return False
            
        return True
    else :                                 # check for descending order of the list
        for i in range(len(input_list)-1):
            if input_list[i] < input_list[i + 1] :
                return False
            
        return True

In [27]:
# Test the above function for ascending order

a38_tuple = (1,2,3,4,5,6)

result = chk_sorted_tuple(a38_tuple)

print(result)

# Test the above function for not sorted

c38_tuple = (2,3,4,1,5,6)

result = chk_sorted_tuple(c38_tuple)

print(result)


# Test the above function  for descending order

b38_tuple = ( 12, 10 , 9, 7 , 6, 3)

result = chk_sorted_tuple(b38_tuple)

print(result)

True
False
True

# 39. Rotate a tuple to the left by `n` positions.

Basic algorithm :

let's suppose we have tuple

input_tuple = (1,2,3,4,5,6)

1. convert the tuple to list

input_list = list(input_tuple)

2) by shifting input_list by 1 position left, list will be [ 2,3,4,5,6 ,1]

means , [ 2,3,4,5,6 ,1] = [ 2,3,4,5,6 ] + [ 1] = input_list[1:] + input_list[:1]

3) by shifting input_list by 2 position left, list will be [ 3,4,5,6 ,1 , 2]

means , [3,4,5,6 ,1 , 2] = [ 3,4,5,6 ] + [ 1 , 2] = input_list[2:] + input_list[:2]

4) then convert output_tuple = tuple(output_list)

In [28]:
# writting a function to rorate list by shifting n position left
def rotate_tuple_left(input_tuple, n):
    
    #convert tuple to list
    input_list = list(input_tuple)
    
    if n <= len(input_list):        # if number of shift is less than length of list
        output_list = input_list[n:]   + input_list[:n]
    else :                          # if number of shift is greater than length of list
        n = n % len(input_list)
        output_list = input_list[n:]   + input_list[:n]
    
    return tuple(output_list)

In [30]:
# testing of above function

input_tuple = ( 1,2,3,4,5,6)

n = 3

print(f"Rotate a tuple {input_tuple } to the left by {n} positions then new tuple will be {rotate_tuple_left(input_tuple , n)}")

n = 5

print(f"Rotate a tuple {input_tuple } to the left by {n} positions then new tuple will be {rotate_tuple_left(input_tuple , n)}")

Rotate a tuple (1, 2, 3, 4, 5, 6) to the left by 3 positions then new tuple will be (4, 5, 6, 1, 2, 3)
Rotate a tuple (1, 2, 3, 4, 5, 6) to the left by 5 positions then new tuple will be (6, 1, 2, 3, 4, 5)

# 40. Rotate a tuple to the right by `n` positions.

Basic algorithm :

let's suppose we have tuple

input_tuple = (1,2,3,4,5,6)

input_list = list(input_tuple)    #convert the tuple to list

1) by shifting input_list by 1 position right, list will be [ 6,1,2,3,4,5]

means , [ 6,1,2,3,4,5] = [ 6 ] + [ 1,2,3,4,5] = input_list[-1:] + input_list[:n-1]

2) by shifting input_list by 2 position , list will be [ 5,6,1,2,3,4]

means , [ 5,6,1,2,3,4] = [ 5,6] + [ 1,2,3,4] = input_list[-2:] + input_list[:len(input_list)-2]

3) and at last convert the list back to tuple

output_tuple = tuple(output_list)

In [31]:
# writting a function to rorate list by shifting n position left
def rotate_tuple_right(input_tuple, n):
    
    # converting tuple to list 
    input_list = list(input_tuple)
    
    n = n % len(input_list)         # so that number of shift will always be less than length of list
    
    output_list = input_list[-n:]  + input_list[:len(input_list)-n]    

    return tuple(output_list)

In [32]:
# testing of above function

input_tuple = (1,2,3,4,5,6)

n = 3

print(f"Rotate a tuple {input_tuple } to the right by {n} positions then new tuple will be {rotate_tuple_right(input_tuple , n)}")

n = 10

print(f"Rotate a tuple {input_tuple } to the right by {n} positions then new tuple will be {rotate_tuple_right(input_tuple , n)}")

Rotate a tuple (1, 2, 3, 4, 5, 6) to the right by 3 positions then new tuple will be (4, 5, 6, 1, 2, 3)
Rotate a tuple (1, 2, 3, 4, 5, 6) to the right by 10 positions then new tuple will be (3, 4, 5, 6, 1, 2)

# 41. Create a tuple of the first 5 Fibonacci numbers.

Fibonacci numbers, is defined as the sequence of numbers in which each number in the sequence is equal to the sum of two numbers before it. The Fibonacci Sequence is given as: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34

In [33]:
# Function to return fibonacci number
def create_fibonacci(n):        
          
    if n <= 1:         
        return n
    else :
        return (create_fibonacci(n-1) + create_fibonacci(n-2) )
    
# Function to return list of first n  fibonacci number

def create_fibonacci_tuple(n):
    
    output_list = []         # create output list
    
    for i in range(n+1):     # for iterate through 0 to n
        output_list.append(create_fibonacci(i))        # call create_fibonacci function for each occurance and append to list
        
    return tuple(output_list)

In [34]:
# Test the above function 

# Create a tuple of the first 5 Fibonacci numbers
result = create_fibonacci_tuple(5)

print(result)

(0, 1, 1, 2, 3, 5)

# 42. Create a tuple from user input.

In [60]:
# Get input from the user
input_values = input("Enter values separated by commas(,): ")

# Split the input string into a list of values
values_list = input_values.split(',')

# Convert the list of values to a tuple
user_tuple = tuple(values_list)

# Display the resulting tuple
print("User input tuple:",user_tuple)

Enter values separated by commas(,): abhishek,amit,nidhi,avinash
User input tuple: ('abhishek', 'amit', 'nidhi', 'avinash')

# 43. Swap two elements in a tuple.

We can;t change the elements in tuple directly. so, we can convert it to list and change the list and then revert back to tuple

In [35]:
def swap_tuple_by_indices(input_tuple, i , j):
    
    #Convert the tuple to list
    input_list = list(input_tuple)
    
    # swap logic using 3rd variable
    a = input_list[i]               
    input_list[i] = input_list[j]
    input_list[j] = a
    
    return tuple(input_list)

In [36]:
#Testing of above function

input_tuple = ( 2, 33, 4, 51, 6, 75 , 91)

i = 3

j = 5

print(f"After swapping the value for index {i} with value at index {j} of tuple {input_tuple} , new tuple is : {swap_tuple_by_indices(input_tuple , i , j)}")

After swapping the value for index 3 with value at index 5 of tuple (2, 33, 4, 51, 6, 75, 91) , new tuple is : (2, 33, 4, 75, 6, 51, 91)

# 44. Reverse the elements of a tuple.

We can't change tuple d irectly, need to convert it to list

In [38]:
def reverse_tuple(input_tuple):
    
    #convert tuple to list
    input_list = list(input_tuple)
    
    input_list.reverse()              # using inbuilt reverse() function
    
    return tuple(input_list)

In [40]:
# test the above function

a44 = ( 2,12,4,14,1,0,9,14)

print(f"Reverse the elements of a tuple {a44} , new tuple will be {reverse_tuple(a44)}")

Reverse the elements of a tuple (2, 12, 4, 14, 1, 0, 9, 14) , new tuple will be (14, 9, 0, 1, 14, 4, 12, 2)

# 45. Create a tuple of the first `n` powers of 2.

We can use list comprehension method and then convert back to tuple

In [41]:
#Create a tuple of the first `n` powers of 2

n = 10

output_tuple = tuple([ 2**i for i in range(n)])

print(f"a tuple of the first {n} powers of 2 is {output_tuple}\n")

n = 15

output_tuple1 = tuple([ 2**i for i in range(n)])

print(f"a tuple of the first {n} powers of 2 is {output_tuple1}\n")

a tuple of the first 10 powers of 2 is (1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

a tuple of the first 15 powers of 2 is (1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384)

# 46. Find the longest string in a tuple of strings.

In [49]:
def longest_string(input_tuple):
     
    # converting tuple to list
    input_list = list(input_tuple)
    long_str = ''
    
    for x in input_list:
        if len(x) >= len(long_str) :
            long_str = x
                
    return long_str

In [50]:
# testing of the above function

my_tuple1 = ('I', 'am', 'Abhishek', 'Kumar.', 'I', 'Love', 'My', 'country')

print(f"The longest string in the tuple {my_tuple1} is {longest_string(my_tuple1)}")

The longest string in the tuple ('I', 'am', 'Abhishek', 'Kumar.', 'I', 'Love', 'My', 'country') is Abhishek

# 47. Find the shortest string in a tuple of strings.

In [51]:
def shortest_string(input_tuple):
    
    # converting tuple to list
    input_list = list(input_tuple)
       
    short_str = input_list[0]
    
    for x in input_list:
        if len(x) <= len(short_str) :
            short_str = x
                
    return short_str

In [52]:
# testing of the above function

my_tuple = ('I', 'am', 'Abhishek', 'Kumar.', 'I', 'Love', 'My', 'country')

print(f"The shortest string in the list {my_tuple} is {shortest_string(my_tuple)}")

The shortest string in the list ('I', 'am', 'Abhishek', 'Kumar.', 'I', 'Love', 'My', 'country') is I

# 48. Create a tuple of the first `n` triangular numbers.

Triangular numbers are numbers that make up the sequence 1, 3, 6, 10, . . .. The nth triangular number in the sequence is the number of dots it would take to make an equilateral triangle with n dots on each side. The formula for the nth triangular number is (n)(n + 1) / 2

There are 13 triangular numbers in the first 100 numbers. These are 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91.

In [53]:
# function to find nth triangular number
def nth_triangular_num(n):
    
    triangular_num = int(( n * ( n +1 ) ) / 2 )
    
    return  triangular_num     # nth triangular number

def first_n_triangular_num(n):
    
    output_list = []           # initualize the output list
    
    for i in range( 1, n+1):
        if i > 0 :
            triangular_num = nth_triangular_num(i)
            output_list.append(triangular_num)
            
    return tuple(output_list)
   
#Test the above function

n = 10 

print(f"a tuple of the first {n} triangular numbers is : {first_n_triangular_num(n)}\n")


n = 13 

print(f"a tuple of the first {n} triangular numbers is : {first_n_triangular_num(n)}")

a tuple of the first 10 triangular numbers is : (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

a tuple of the first 13 triangular numbers is : (1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91)

# 49. Check if a tuple contains another tuple as a subsequence.

We can write own function to check whether if a tuple contains another tuple as a subsequence using isinstance() method

In [54]:
def chk_tuple_for_subsequence(input_tuple):
    
    for x in input_tuple:          # Iterate through all elements of tuple
        if isinstance(x,tuple):     # check if element is instance of tuple
            return True            # return True
        
    return False

In [55]:
#Test of above function

a49_tuple = (2,3,(4,5) , 6 , 7)

if chk_tuple_for_subsequence(a49_tuple):
    print(f"The tuple {a49_tuple} contains another tuple as a subsequence")
else :
    print(f"The tuple {a49_tuple} do not contains another tuple as a subsequence")
    

b49_tuple = ( 2,3, 4,5 , 6 , 7 )

if chk_tuple_for_subsequence(b49_tuple):
    print(f"The tuple {b49_tuple} contains another tuple as a subsequence")
else :
    print(f"The tuple {b49_tuple} do not contains another tuple as a subsequence")

The tuple (2, 3, (4, 5), 6, 7) contains another tuple as a subsequence
The tuple (2, 3, 4, 5, 6, 7) do not contains another tuple as a subsequence

# 50. Create a tuple of alternating 1s and 0s of length `n`.

In [58]:
# We can use simply tuple comprehension method 
n = 20

result_tuple = tuple(1 if x %2 == 0 else 0 for x in range(n))

print(result_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)