# TOPIC: SET Based Problem

# 1. Create a set with integers from 1 to 5.

There are many way to create set

In [1]:
a1 = { 1,2,3,4,5}         # by assigning value

In [2]:
type(a1)

set

In [3]:
a1

{1, 2, 3, 4, 5}

In [7]:
b1 = set((x for x in range(1,6)))       # by set constructor

In [8]:
b1

{1, 2, 3, 4, 5}

In [6]:
type(b1)

set

# 2. Add an element to a set.

We can use inbuild method add() on set to add an element to a set

In [10]:
a2 = {1, 2, 3, 4, 5}

In [13]:
a2.add(6)       # by add() method

In [14]:
a2

{1, 2, 3, 4, 5, 6}

# 3. Remove an element from a set.

We can remove an element from set by inbuild method remove or discard

In [16]:
a3 = {1, 2, 3, 4, 5, 6}

In [17]:
a3.remove(3)          # by remove() method

In [18]:
a3

{1, 2, 4, 5, 6}

In [19]:
a3.discard(5)         # by discard method

In [20]:
a3

{1, 2, 4, 6}

Difference between remove and discard method: Both remove and discard method will remove an item from set. 
    
If item (which you want to remove from set) not exist in that set,

then remove method will give an erro which discard method will not give an error

In [21]:
a3

{1, 2, 4, 6}

In [22]:
a3.remove(5)          # element 5 not in set, so remove method will give an error

KeyError: 5

In [24]:
a3.discard(5)        # element 5 not in set, so discard method will not give an error

In [25]:
a3

{1, 2, 4, 6}

# 4. Check if an element exists in a set.

We ill simply used inbuild operator 'in' to check if an element exists in a set or not

In [28]:
a4 = {1, 2, 4, 6}

n = 2

if n in a4:
    print(f"The element {n} exist in set {a4}\n")
else :
    print(f"The element {n} do not exist in set {a4}\n")
    
n = 5

if n in a4:
    print(f"The element {n} exist in set {a4}")
else :
    print(f"The element {n} do not exist in set {a4}")

The element 2 exist in set {1, 2, 4, 6}

The element 5 do not exist in set {1, 2, 4, 6}

# 5. Find the length of a set without using the `len()` function.

There are multiple way to determine the length pf se without using the 'len()' function

In [33]:
a5 = {1, 2, 4, 6 , 23, 12, 45 , 68 ,32}     # inout set

In [34]:
#1st way : by comprehension method

length_of_set = sum(1 for x in a5)

print(f"Length of set {a5} is {length_of_set}\n")

Length of set {32, 1, 2, 4, 68, 6, 12, 45, 23} is 9

In [35]:
#2nd way : by checking each element of set

count = 0
for x in a5:
    count += 1

print(f"Length of set {a5} is {count}\n")

Length of set {32, 1, 2, 4, 68, 6, 12, 45, 23} is 9

# 6. Clear all elements from a set.

we can use inbuild method clear to remove all elements from a set

In [36]:
a6 = {32, 1, 2, 4, 68, 6, 12, 45, 23}

print(f"Before clear : {a6}")

a6.clear()               # clear all elements of set

print(f"afterclear : {a6}")

Before clear : {32, 1, 2, 4, 68, 6, 12, 45, 23}
afterclear : set()

# 7. Create a set of even numbers from 1 to 10.

We can  simply use set comprehension method

In [38]:
a7 = set(x for x in range(2,11,2))

print(f"Set of even numbers from 1 to 10 is {a7}")

Set of even numbers from 1 to 10 is {2, 4, 6, 8, 10}

# 8. Create a set of odd numbers from 1 to 10.

We can  simply use set comprehension method

In [39]:
a8 = set(x for x in range(1,11,2))

print(f"Set of odd numbers from 1 to 10 is {a8}")

Set of odd numbers from 1 to 10 is {1, 3, 5, 7, 9}

# 9. Find the union of two sets.

In [41]:
#We will simply use inbuild method union on set

a9 = { 1,2,3,4,5}      # first set

b9 = {1, 3, 5, 7, 9}   # second set

c9 = a9.union(b9)      # by union method on set

print(f"The union of two sets {a9} and {b9} is :  {c9}")

The union of two sets {1, 2, 3, 4, 5} and {1, 3, 5, 7, 9} is :  {1, 2, 3, 4, 5, 7, 9}

# 10. Find the intersection of two sets.

In [42]:
#We will simply use inbuild method union on set

a10 = { 1,2,3,4,5}      # first set

b10 = {1, 3, 5, 7, 9}   # second set

c10 = a10.intersection(b10)      # by intersection method on set ,thos will create another set

print(f"The intersection of two sets {a10} and {b10} is :  {c10}")

The intersection of two sets {1, 2, 3, 4, 5} and {1, 3, 5, 7, 9} is :  {1, 3, 5}

# 11. Find the difference between two sets.

In [44]:
#We will simply use inbuild method difference() on set

a11 = { 1,2,3,4,5}      # first set

b11 = {1, 3, 5, 7, 9}   # second set

c11 = a11.difference(b11)      # by difference method on set ,thos will create another set ( difference of a11 from b11)

print(f"The difference of two sets {a11} and {b11} is :  {c11}\n")

d11 = b11.difference(a11)      # by difference method on set ,thos will create another set( difference of b11 from a11)

print(f"The difference of two sets {b11} and {a11} is :  {d11}")

The difference of two sets {1, 2, 3, 4, 5} and {1, 3, 5, 7, 9} is :  {2, 4}

The difference of two sets {1, 3, 5, 7, 9} and {1, 2, 3, 4, 5} is :  {9, 7}

# 12. Check if a set is a subset of another set.

In [45]:
#We will simply use inbuild method issubset() on set

a12 = { 1,2,3,4,5}      # first set

b12 = {2,4}             # second set

if a12.issubset(b12):
    print(f"set {a12} is subset of set {b12}\n")
else :
    print(f"set {a12} is not subset of set {b12}\n")
    
    
if b12.issubset(a12):
    print(f"set {b12} is subset of set {a12}\n")
else :
    print(f"set {b12} is not subset of set {a12}\n")

set {1, 2, 3, 4, 5} is not subset of set {2, 4}

set {2, 4} is subset of set {1, 2, 3, 4, 5}

# 13. Check if a set is a superset of another set.

In [46]:
#We will simply use inbuild method issuperset() on set

a12 = { 1,2,3,4,5}      # first set

b12 = {2,4}             # second set

if a12.issuperset(b12):
    print(f"set {a12} is superset of set {b12}\n")
else :
    print(f"set {a12} is not superset of set {b12}\n")
    
    
if b12.issuperset(a12):
    print(f"set {b12} is superset of set {a12}\n")
else :
    print(f"set {b12} is not superset of set {a12}\n")

set {1, 2, 3, 4, 5} is superset of set {2, 4}

set {2, 4} is not superset of set {1, 2, 3, 4, 5}

# 14. Create a set from a list.

In [50]:
a14 = [ 1,3,5,7]      # list without any duplicate value

b14 = set(a14)         # using set constructor

print(f"Creating a set {b14} from list {a14}\n")

c14 = [ 1,3,5,7,1,3,1,3]   # list having duplicate value

d14 = set(c14)         # using set constructor , while creating set it will discard duplicate

print(f"Creating a set {d14} from list {c14} having duplicate\n")

Creating a set {1, 3, 5, 7} from list [1, 3, 5, 7]

Creating a set {1, 3, 5, 7} from list [1, 3, 5, 7, 1, 3, 1, 3] having duplicate

# 15. Convert a set to a list.

In [51]:
a15 = { 1,3,5,7 }     # input set

b15 = list(a15)         # using list constructor

print(f"Converting a set {a15} to a list {b15}")

Converting a set {1, 3, 5, 7} to a list [1, 3, 5, 7]

# 16. Remove a random element from a set.

We can remove a random element from a set by inbuild method pop()

In [53]:
a16 = { 1,3,5,7,9,11,13,15,17,19,21,23,25 }     # input set

# removing a random element from a set

print(f"set Bedore removing random element : {a16}\n")

a16.pop()     # Remove a random element from a set

print(f"set Aftere removing random element : {a16}")

set Bedore removing random element : {1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25}

set Aftere removing random element : {3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25}

# 17. Pop an element from a set.

In [55]:
a16 = { 1,3,5,7,9,11,13,15,17,19,21,23,25 }     # input set

# removing a random element from a set

print(f"set Bedore pop an element : {a16}\n")

a16.pop()     # Pop an element from a set

print(f"set Aftere pop an element : {a16}")

set Bedore pop an element : {1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25}

set Aftere pop an element : {3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25}

# 18. Check if two sets have no elements in common.

In [57]:
#We will simply use inbuild method intersection() on set

a18 = { 1,2,3,4,5}               # first set

b18 = {8,9,10,13,16}             # second set

c18 = a18.intersection(b18)      # intersection of two sets

if len(c18) > 0 :
    print(f"set {a18} and {b18} have elements in common : {c18}")
else :
    print(f"set {a18} and {b18} have no elements in common : {c18}")

set {1, 2, 3, 4, 5} and {8, 9, 10, 13, 16} have no elements in common : set()

# 19. Find the symmetric difference between two sets

In [58]:
#We will simply use inbuild method symmetric_difference() on set

a19 = { 1,2,3,4,5,10,16}         # first set

b19 = {8,9,10,2,13,16}           # second set

c19 = a19.symmetric_difference(b19)      # symmetric difference between two sets

print(f"The symmetric difference between two set {a19} and {b19} is: {c19}")

The symmetric difference between two set {1, 2, 3, 4, 5, 10, 16} and {2, 8, 9, 10, 13, 16} is: {1, 3, 4, 5, 8, 9, 13}

# 20. Update a set with elements from another set

In [60]:
#We will simply use inbuild method update() on set

a20 = { 1,2,3,4,5,10,16}         # first set

b20 = {8,9,10,2,13,16}           # second set

print(f"Before update two set {a19} and {b19}\n ")

a20.update(b20)                  # update set a20 with elements from set b20 , duplicate element will be discarded

print(f"After update set {a20} from set {b20} ")

Before update two set {1, 2, 3, 4, 5, 10, 16} and {2, 8, 9, 10, 13, 16}

After update set {1, 2, 3, 4, 5, 8, 9, 10, 13, 16} from set {2, 8, 9, 10, 13, 16}

# 21. Create a set of the first 5 prime numbers.

prime number:a whole number greater than 1 that cannot be exactly divided by any whole number other than itself.

so, to check 20 is prime number or not, we will check whether 20 is divisible by any number starting from 2 to 11

similarly to check 50 is prime number or not, we will check whether 50 is divisible by any number starting from 2 to 26

so to check n is prime number or not, we will check whether n is divisible by any number starting from 2 to (n/2) + 1

In [65]:
# Function to check whether given number n is prime or not
def chk_prime(n):
    
    if n < 2:
        return False
    
    for i in range(int(n/2) + 1 ):
        if i > 1:
            if n % i == 0 :
                return False
        
    return True

def create_set_of_first_n_prime(n):
    
    prime_list = []
    num = 2
    
    while len(prime_list) < n :    #Have to create n prime number 
        if chk_prime(num):
            prime_list.append(num)
            
        num += 1
                
    return set(prime_list)

In [66]:
# Test the abive function

n = 5

print(f"Creating a set of the first {n} prime numbers is {create_set_of_first_n_prime(n)}\n")

n = 10

print(f"Creating a set of the first {n} prime numbers is {create_set_of_first_n_prime(n)}")

Creating a set of the first 5 prime numbers is {2, 3, 5, 7, 11}

Creating a set of the first 10 prime numbers is {2, 3, 5, 7, 11, 13, 17, 19, 23, 29}

# 22. Check if two sets are identical.

We can check if two sets are identical by using the == operator.

In [68]:
def chk_identical_sets(input_set1 , input_set2):
    
    if input_set1 == input_set2 :  
        return True
    else :
        return False
    

#Testing of above function

a22 = { 1, 2, 3 }

b22 = { 1, 2, 3 }

c22 = { 2, 3, 4 }

if chk_identical_sets(a22 , b22):
    print(f"Two sets {a22} and {b22} are identical \n")
else :
    print(f"Two sets {a22} and {b22} are not identical \n")
    

if chk_identical_sets(a22 , c22):
    print(f"Two sets {a22} and {c22} are identical \n")
else :
    print(f"Two sets {a22} and {c22} are not identical \n")

Two sets {1, 2, 3} and {1, 2, 3} are identical

Two sets {1, 2, 3} and {2, 3, 4} are not identical

# 23. Create a frozen set.

Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation. Due to this, frozen sets can be used as keys in Dictionary or as elements of another set

to create Frozen set , we can use the frozenset() constructor.

In [78]:
a24 = { 1, 2, 3 }

b24 = frozenset(a24)     # Creating a frozen set

In [79]:
b24

frozenset({1, 2, 3})

In [80]:
b24.add({5})              # trying  to add element to frozenset

AttributeError: 'frozenset' object has no attribute 'add'

# 24. Check if a set is disjoint with another set.

In [69]:
#We will simply use inbuild method isdisjoint() on set

a24 = { 1,2,3,4,5}               # first set

b24 = {8,9,10,13,16}             # second set

c24 = { 23 , 25 , 2, 27 }        # third set 

if a24.isdisjoint(b24) :
    print(f"set {a24} and {b18} are disjoint sets\n")
else :
    print(f"set {a24} and {b18} are not disjoint sets\n")
    

if a24.isdisjoint(c24) :
    print(f"set {a24} and {c24} are disjoint sets\n")
else :
    print(f"set {a24} and {c24} are not disjoint sets\n")

set {1, 2, 3, 4, 5} and {8, 9, 10, 13, 16} are disjoint sets

set {1, 2, 3, 4, 5} and {25, 2, 27, 23} are not disjoint sets

# 25. Create a set of squares of numbers from 1 to 5.

We will simply use set comprehension method

In [72]:
a25 = set(x*x for x in range(1,6))

In [73]:
print(f"Create a set of squares of numbers from 1 to 5 is {a25}")

Create a set of squares of numbers from 1 to 5 is {1, 4, 9, 16, 25}

# 26.  Filter out all even numbers from a set.

In [81]:
# we can use set comprehension method to filter out even numbers

a26 = { 1, 2,3,4,5,6,7,8,9,13,18,21,44,32,56,23 }    # input set

even_num_set = set(x for x in a26 if x % 2 == 0)

print(f"Filtering out all even numbers from a set {a26} , new set is {even_num_set}")

Filtering out all even numbers from a set {32, 1, 2, 3, 4, 5, 6, 7, 8, 9, 44, 13, 18, 21, 23, 56} , new set is {32, 2, 4, 6, 8, 44, 18, 56}

# 27. Multiply all elements in a set by 2.

In [82]:
# we can use set comprehension method to Multiply all elements in a set by 2

a27 = { 1, 2,3,4,5,6,7,8,9,13,18,21,44,32,56,23 }    # input set

output_set = set(x * 2 for x in a27 )

print(f"Multiplying all elements in a set {a27} by 2 , new set is {output_set}")

Multiplying all elements in a set {32, 1, 2, 3, 4, 5, 6, 7, 8, 9, 44, 13, 18, 21, 23, 56} by 2 , new set is {64, 2, 4, 36, 6, 8, 10, 42, 12, 14, 46, 16, 112, 18, 88, 26}

# 28. Create a set of random numbers.

In [83]:
# we can use random module to generate random number

import random

a28 = set(random.randint(1,100) for _ in range(1,20))     # creating set with random numbers

print(a28)

{32, 98, 34, 100, 7, 73, 41, 11, 14, 15, 81, 52, 85, 53, 88, 61, 95}

# 29. Check if a set is empty.

In [89]:
a29 = set(())     # creating an empty set

type(a29)         # check the type of empty set

set

In [90]:
isinstance(a29,set)     # check whether it is instance of set

True

In [91]:
a29              # check the value of empty set

set()

In [92]:
len(a29)         # check the length of empty st

0

In [93]:
# let's suppose we have set

b29 = { 1,3,5}          # non empty set

b29.clear()             # remove all element of set

In [94]:
b29    # check the set

set()

In [95]:
type(b29)

set

In [97]:
# so, to check empty set

if isinstance(b29,set) and len(b29) == 0 :
    print(f"Set {b29} is empty")
else :
    print(f"Set {b29} is not empty")

Set set() is empty

# 30. Create a nested set (hint: use frozenset).

In [142]:
# Creating a nested set using frozenset
nested_set = frozenset([
    1,
    2,
    frozenset({3, 4, 5}),
    frozenset({6, 7}),
])

# Displaying the nested set
print("Nested Set:", nested_set)

Nested Set: frozenset({frozenset({6, 7}), 1, 2, frozenset({3, 4, 5})})

# 31. Remove an element from a set using the discard method.

In [98]:
a31 = { 1, 2,3,4,5,6,7,8,9,13,18,21,44,32,56,23 }  # 

a31.discard(2)   #Remove an element 2 from a set using the discard method

print(a31)       # after discard

{32, 1, 3, 4, 5, 6, 7, 8, 9, 44, 13, 18, 21, 23, 56}

# 32. Compare two sets.

In [99]:
# we can simply use '==' operator to compare 

a32 = {1,2,3}        # first set

b32 = {1,2,3}         # second set

c32 = {2,3,4}         # third set

if a32 == b32 :
    print(f"set {a32} and {b32} are equal\n")
else :
    print(f"set {a32} and {b32} are not equal\m")
    

if a18 == c32 :
    print(f"set {a32} and {c32} are equal\n")
else :
    print(f"set {a32} and {c32} are not equal\n")

set {1, 2, 3} and {1, 2, 3} are equal

set {1, 2, 3} and {2, 3, 4} are not equal

# 33. Create a set from a string.

In [102]:
# we can simply use set constructor to create a set from a string

a33_str    = 'abhishek'

b33 = set(a33_str)        # creating set from string

print(f"Creating a set {b33} from a string \'{a33_str}\' ")

Creating a set {'e', 'i', 's', 'k', 'a', 'h', 'b'} from a string 'abhishek'

# 34. Convert a set of strings to a set of integers.

In [107]:
# we can simply use str constructor to create a string from a set or join the elemnt of sets

c34     = {'1' , '2' , '3' , '4' , '5'}     # set of strings

d34 = set(int(x) for x in c34 )             # Converting a set of strings to a set of integers.

print(f"Converting a set of strings {c34} to a set of integers : {d34}")

Converting a set of strings {'2', '5', '1', '4', '3'} to a set of integers : {1, 2, 3, 4, 5}

# 35. Convert a set of integers to a set of strings.

In [108]:
# we can simply use str constructor to create a string from a set or join the elemnt of sets

a35     = {1, 2, 3, 4, 5}             # set of integers

b35 = set(str(x) for x in a35 )       # Converting a set of integers to a set of strings

print(f"Converting a set of integers {a35} to a set of strings : {b35}")

Converting a set of integers {1, 2, 3, 4, 5} to a set of strings : {'2', '5', '1', '4', '3'}

# 36. Create a set from a tuple.

In [109]:
# we will simply use set constructor to create set from a tuple

a36 = ( 1,2,3,4,5)     # input tuple

b36 = set(a36)         # creating set from tuple

print(f"Create a set {b36} from a tuple {a36}")

Create a set {1, 2, 3, 4, 5} from a tuple (1, 2, 3, 4, 5)

# 37. Convert a set to a tuple.

In [110]:
# we will simply use tuple constructor to create tuple from a set

a37 = {1, 2, 3, 4, 5}     # input set

b37 = tuple(a37)         # Convert a set to a tuple

print(f"Converting a set {a37} to a tuple {b37}")

Converting a set {1, 2, 3, 4, 5} to a tuple (1, 2, 3, 4, 5)

# 38. Find the maximum value in a set.

In [111]:
# we will simply use inbuild max function to find the maxmium value in a set

a38 = {1, 2, 3, 4, 5}     # input set

b38 = max(a38)

print(f"maximum value in a set {a38} is {b38}")

maximum value in a set {1, 2, 3, 4, 5} is 5

# 39. Find the minimum value in a set.

In [112]:
# we will simply use inbuild min function to find the minimum value in a set

a39 = {1, 2, 3, 4, 5}     # input set

b39 = min(a38)

print(f"Minimum value in a set {a39} is {b39}")

Minimum value in a set {1, 2, 3, 4, 5} is 1

# 40. Create a set from user input.

In [113]:
# Get input from the user
input_values = input("Enter values separated by commas(,): ")

# Split the input string into a list of values
values_list = input_values.split(',')

# Convert the list of values to a set
user_set = set(values_list)

# Display the resulting tuple
print("User input set:",user_set)

Enter values separated by commas(,): abhishek,nidhi,amit,avinash
User input set: {'nidhi', 'amit', 'avinash', 'abhishek'}

# 41. Check if the intersection of two sets is empty.

In [116]:
#We will simply use inbuild method intersection() on set. 
# we will check first isinstance() method to check whether it is set or not and then length of set

a41 = { 1,2,3,4,5}               # first set

b41 = {8,9,10,13,16}             # second set

d41 = { 15, 20, 2,4}

c41 = a41.intersection(b41)      # intersection of two sets

if isinstance(c41,set) and len(c41) == 0 :
    print(f"The intersection of two sets {a41} and {b41} is empty and intersection set is {c41}\n")
else :
    print(f"The intersection of two sets {a41} and {b41} is not empty and intersection set is {c41}\n")
    
e41 = a41.intersection(d41)      # intersection of two sets

if isinstance(e41,set) and len(e41) == 0 :
    print(f"The intersection of two sets {a41} and {d41} is empty and intersection set is {e41}")
else :
    print(f"The intersection of two sets {a41} and {d41} is not empty and intersection set is {e41}")

The intersection of two sets {1, 2, 3, 4, 5} and {8, 9, 10, 13, 16} is empty and intersection set is set()

The intersection of two sets {1, 2, 3, 4, 5} and {2, 20, 4, 15} is not empty and intersection set is {2, 4}

# 42. Create a set of the first 5 Fibonacci numbers.

Fibonacci numbers, is defined as the sequence of numbers in which each number in the sequence is equal to the sum of two numbers before it. The Fibonacci Sequence is given as: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34

In [117]:
# Function to return fibonacci number
def create_fibonacci(n):        
          
    if n <= 1:         
        return n
    else :
        return (create_fibonacci(n-1) + create_fibonacci(n-2) )
    
# Function to return set of first n  fibonacci number

def create_fibonacci_set(n):
    
    output_list = []         # create output list
    
    for i in range(n+1):     # for iterate through 0 to n
        output_list.append(create_fibonacci(i))        # call create_fibonacci function for each occurance and append to list
        
    return set(output_list)       #set disgard the duplicate value

In [119]:
# Test the above function 

# Create a set of the first 5 Fibonacci numbers
result = create_fibonacci_set(5)          # set discard the duplicate value so 1 will not be repeated

print(result)    #set discard the duplicate value so 1 will not be repeated

{0, 1, 2, 3, 5}

# 43. Remove duplicates from a list using sets.

In [121]:
a43 = [ 1,2,3,2,4,5,3,6,7]     # list having duplicate value

def remove_duplicate_from_list(input_list):
    
    return list(set(input_list))      # converting list to set and then converting back to list

b43 = remove_duplicate_from_list(a43)

print(f"Remove duplicates from a list {a43} using sets and updated list is {b43}")

Remove duplicates from a list [1, 2, 3, 2, 4, 5, 3, 6, 7] using sets and updated list is [1, 2, 3, 4, 5, 6, 7]

# 44. Check if two sets have the same elements, regardless of their count.

In [ ]:
We can check if two sets have the same elements means identical by using the == operator.

In [122]:
def chk_identical_sets(input_set1 , input_set2):
    
    if input_set1 == input_set2 :  
        return True
    else :
        return False
    

#Testing of above function

a44 = { 1, 2, 3 , 4}

b44 = { 1, 2, 3 , 4}

c44 = { 2, 3, 4 , 5}

if chk_identical_sets(a44 , b44):
    print(f"Two sets {a44} and {b44} have same elements \n")
else :
    print(f"Two sets {a44} and {b44} do not have same elements  \n")
    

if chk_identical_sets(a44 , c44):
    print(f"Two sets {a44} and {c44} have same elements  \n")
else :
    print(f"Two sets {a44} and {c44} do not have same elements  \n")

Two sets {1, 2, 3, 4} and {1, 2, 3, 4} have same elements

Two sets {1, 2, 3, 4} and {2, 3, 4, 5} do not have same elements

# 45. Create a set of the first `n` powers of 2.

We can use list comprehension method and then convert back to set

In [123]:
#Create a set of the first `n` powers of 2

n = 10

output_set = set([ 2**i for i in range(n)])

print(f"a set of the first {n} powers of 2 is {output_set}\n")

n = 15

output_set1 = set([ 2**i for i in range(n)])

print(f"a set of the first {n} powers of 2 is {output_set1}\n")

a set of the first 10 powers of 2 is {32, 1, 2, 64, 4, 128, 256, 512, 8, 16}

a set of the first 15 powers of 2 is {32, 1, 2, 64, 4, 128, 256, 512, 8, 1024, 2048, 4096, 8192, 16, 16384}

# 46. Find the common elements between a set and a list.

In [126]:
a46 = [ 1,2,3,4,5,6,7]          # list

b46 = { 1,3,5,7,9,11,13,15}     # set

common_elements = b46.intersection(set(a46))

print(f"the set of common elements between a set {b46 }and a list {a46} is {common_elements}")

the set of common elements between a set {1, 3, 5, 7, 9, 11, 13, 15}and a list [1, 2, 3, 4, 5, 6, 7] is {1, 3, 5, 7}

# 47. Create a set of the first `n` triangular numbers.

Triangular numbers are numbers that make up the sequence 1, 3, 6, 10, . . .. The nth triangular number in the sequence is the number of dots it would take to make an equilateral triangle with n dots on each side. The formula for the nth triangular number is (n)(n + 1) / 2

There are 13 triangular numbers in the first 100 numbers. These are 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91.

In [127]:
# function to find nth triangular number
def nth_triangular_num(n):
    
    triangular_num = int(( n * ( n +1 ) ) / 2 )
    
    return  triangular_num     # nth triangular number

def first_n_triangular_num(n):
    
    output_list = []           # initualize the output list
    
    for i in range( 1, n+1):
        if i > 0 :
            triangular_num = nth_triangular_num(i)
            output_list.append(triangular_num)
            
    return set(output_list)
   
#Test the above function

n = 10 

print(f"a set of the first {n} triangular numbers is : {first_n_triangular_num(n)}\n")


n = 13 

print(f"a set of the first {n} triangular numbers is : {first_n_triangular_num(n)}")

a set of the first 10 triangular numbers is : {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

a set of the first 13 triangular numbers is : {1, 66, 3, 36, 6, 10, 45, 78, 15, 21, 55, 91, 28}

# 48. Check if a set contains another set as a subset.

In [132]:
#We will simply use inbuild method issuperset() on set

a12 = { 1,2,3,4,5}      # first set

b12 = {2,4}             # second set

if a12.issuperset(b12):
    print(f"set {a12} contains another set {b12} as a subset\n")
else :
    print(f"set {a12} do not contains another set {b12} as a subset\n")
    
    
if b12.issuperset(a12):
    print(f"set {b12} contains another set {a12} as a subset\n")
else :
    print(f"set {b12} do not contains another set {a12} as a subset\n")

set {1, 2, 3, 4, 5} contains another set {2, 4} as a subset

set {2, 4} do not contains another set {1, 2, 3, 4, 5} as a subset

# 49. Create a set of alternating 1s and 0s of length `n`.

In [133]:
# We can use simply set comprehension method 
n = 10

result_set = set(1 if x %2 == 0 else 0 for x in range(n))   # set do not containsduplicate 

print(result_set)         # set do not containsduplicate so only set will be {0, 1}

{0, 1}

# 50. Merge multiple sets into one.

In [ ]:
We can Merge multiple sets into one by applying union chain methods

In [139]:
a50 = {1,3,5,7,9}            # set-1

b50 = {2,4,6,8,10}           # set-2

c50 = {3,6,9,12,15}          # set-3

d50 = {4,8,12,16,20}         # set-4

# Merge multiple sets into one.

result_set = a50.union(b50).union(c50).union(d50)

print(f"Merging multiple set {a50} , {b50} , {c50} and {d50} into one set : {result_set}")

Merging multiple set {1, 3, 5, 7, 9} , {2, 4, 6, 8, 10} , {3, 6, 9, 12, 15} and {4, 8, 12, 16, 20} into one set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 16, 20}